.popIn {
    animation: zoom-in-zoom-out .75s ease forwards;
}

.fadeOut {
    animation: flip-close .75s ease forwards;
}

.dailyDouble {
    animation: flip-appear 1s ease forwards;
}

@keyframes zoom-in-zoom-out {
    0% {
        scale: 0%;
    }

    100% {
        scale: 100%;
    }
}

@keyframes flip-close {
    0% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
    }
}

@keyframes flip-appear {
    0% {
        scale: 0%;
        transform: scaleY(0);
    }

    10% {
        scale: 10%;
        transform: scaleY(.1);
    }

    50% {
        scale: 50%;
        transform: scaleY(-.5);
    }

    /* 75% {
        scale: 75%;
        transform: scaleY(.75);
      } */

    100% {
        scale: 100%;
        transform: scaleY(1);
        height: 100%;
        width: 100%;
    }
}

img.resize {
    width: 100%;
    size: 100% 100%;
    height: 100%;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

.zoom-in-out-element {
    animation: zoom-in-zoom-out .5s ease;
}

@keyframes zoom-in-zoom-out {
    0% {
        scale: 0%;
    }

    100% {
        scale: 100%;
    }
}

.slide-in-panel {
    animation: slide-in 1s ease forwards;
}

.slide-out-panel {
    /* animation-direction: reverse; */
    animation: slide-in 1s ease reverse;
}

@keyframes slide-in {
    from {
        translate: 150vw 0;
    }

    to {
        translate: 0 0;
    }
}

@keyframes wuhhwoahh {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.pulsing {
    animation: wuhhwoahh 1s linear infinite;
}

.deactivate {
    animation: fade .5s forwards;
}

.activate {
    animation: fade .5s forwards;
    animation-direction: reverse;
}

@keyframes fade {
    0% {
        scale: 100%;
        opacity: 1;
    }

    100% {
        scale: 95%;
        opacity: 0.65;
    }
}

.pop-in {
    animation: zoom-in-a-lil .5s ease;
}

@keyframes zoom-in-a-lil {
    0% {
        scale: 0%;
    }

    65% {
        scale: 110%;
    }

    100% {
        scale: 100%
    }
}

.timer {
    animation: make-thinner 15s forwards;
}

@keyframes make-thinner {
    0% {
        transform: scaleX(1);
    }

    19% {
        transform: scaleX(1);
    }

    20% {
        transform: scaleX(.7);
    }

    39% {
        transform: scaleX(.7);
    }

    40% {
        transform: scaleX(.5);
    }

    59% {
        transform: scaleX(.5);
    }

    60% {
        transform: scaleX(.3);
    }

    79% {
        transform: scaleX(.3);
    }

    80% {
        transform: scaleX(.1);
    }


    99% {
        transform: scaleX(.1);
    }

    100% {
        transform: scaleX(0);
    }

    /* 100% {
        scale: 100%
      } */
}